h1 {
    text-align: center;
    /**margin: 5% 50% 5% 30px;**/
}

body {
    margin: 2% 60% 2% 10%;
    background-image: url("https://superhqwallpapers.com/wp-content/uploads/2021/09/Ronaldinho-J9-Wallpaper.jpg");
    background-size: 110%;
    color: #FFFFFF;
}

label {
    margin-top: 10px;
}

input.data {
    width: 100%;
    margin: 3% 0%; 
}

select {
    width: 100%;
    margin-top: 10px;
}

textarea {
    width: 100%;
}